<!DOCTYPE html>
<html>
<head>
    <title>Nereal ЖКХ - Главная страница</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style type="text/css">
        .header-bg {
            background: url('images/hdr3.jpg') no-repeat;
            background-position: middle left; 
            min-height: 250px;
        }
    </style>
</head>    
<body class="w3-light-grey">

<div class="w3-content w3-margin-top  w3-margin-bottom w3-card" style="max-width:1400px;">

    <div class="header-bg">
    </div>

    <div class="w3-row">

        <div class="w3-col">

            <div class="w3-container w3-teal w3-border-top">
                <h1>Nereal ЖКХ</h1>
            </div> 

            <div class="w3-bar w3-black w3-large">
                <a href="#" class="w3-bar-item w3-button w3-mobile"><i class="fa fa-home"></i></a>
                <a href="#" class="w3-bar-item w3-button w3-mobile">Карта обращений</a>
                <div class="w3-dropdown-hover w3-center">
                  <button class="w3-button w3-mobile w3-center">Обращения по категориям</button>
                  <div class="w3-dropdown-content w3-bar-block w3-card-4 w3-light-grey">
                    <a href="#" class="w3-bar-item w3-button w3-mobile">Дороги</a>
                    <a href="#" class="w3-bar-item w3-button w3-mobile">Тротуары</a>
                    <a href="#" class="w3-bar-item w3-button w3-mobile">Ямы</a>
                    <a href="#" class="w3-bar-item w3-button w3-mobile">Мусор</a>
                    <a href="#" class="w3-bar-item w3-button w3-mobile">Транспорт</a>
                    <a href="#" class="w3-bar-item w3-button w3-mobile">Отопление</a>
                    <a href="#" class="w3-bar-item w3-button w3-mobile">Образование детей</a>
                  </div>
                </div>
                <a href="#" class="w3-bar-item w3-button w3-mobile">О проекте</a>
            </div> 

            <div class="w3-white">

                <div class="w3-container w3-white">
                  <h2>Nereal ЖКХ, нереальное решение реальных проблем!</h2>
                </div>

                <div class="w3-container w3-white">
                  <p>A car is a wheeled, self-powered motor vehicle used for transportation.</p>
                </div>

                <div class="w3-row-padding w3-margin-top">

                    <div class="w3-third">
                        <div class="w3-card">
                            <img src="images/img_car.jpg" style="width:100%">
                            <div class="w3-container">
                            <h4>Это машина</h4>
                            </div>
                        </div>
                    </div>
                    
                    <div class="w3-third">
                        <div class="w3-card">
                            <img src="images/img_car.jpg" style="width:100%">
                            <div class="w3-container">
                            <h4>И это машина</h4>
                            </div>
                        </div>
                    </div>
                    
                    <div class="w3-third">
                        <div class="w3-card">
                            <img src="images/img_car.jpg" style="width:100%">
                            <div class="w3-container">
                            <h4>И это тоже машина</h4>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="w3-container w3-white">
                  <p>Машина ех-ех, колесики круть-круть.</p>
                </div>

                <div class="w3-panel">
                    <img src="images/img_car.jpg" alt="Car">
                </div>


                <img src="images/img_car.jpg" alt="Car" style="width:100%">

                <div class="w3-container">
                  <p>Машина ех-ех, колесики круть-круть.</p>
                </div>
              
            </div>

            <div class="w3-container w3-teal">
              <h5>Nereal ЖКХ</h5>
              <p class="w3-small">Обращайтесь к нам, и ваши волосы станут мягкими и шелковистыми! (ц) 2019</p>
            </div>
            
        </div>

    </div>
    
</div>

</body>
</html> 
