
@{
    ViewBag.Title = "О проекте";
}

    <table>
        <tr>
            <td>
                Этот сайт разработан командой Nereal Software в рамках регионального этапа хакатона "Цифровой прорыв 2019"
            </td>
            <td class="w3-panel">
                <img src="~/Images/medium.jpg" alt="Lights" style="width:50%">
            </td>
        </tr>
    </table>


