
@{
    ViewBag.Title = "Каталог вознаграждений";
}

<div class="w3-row-padding w3-margin-top">

    <div class="w3-third">
        <div class="w3-card w3-center">
            <img src="~/Images/awards/smp00.jpg" style="height:300px;">
            <div class="w3-container">
                <h4>Рюкзак (800 баллов)</h4>
            </div>
        </div>
    </div>

    <div class="w3-third">
        <div class="w3-card w3-center">
            <img src="~/Images/awards/smp01.jpg" style="height:300px;">
            <div class="w3-container">
                <h4>Рюкзак (1000 баллов)</h4>
            </div>
        </div>
    </div>

    <div class="w3-third">
        <div class="w3-card w3-center">
            <img src="~/Images/awards/smp02.jpg" style="height:300px;">
            <div class="w3-container">
                <h4>Рюкзак (1200 баллов)</h4>
            </div>
        </div>
    </div>

</div>
<div class="w3-row-padding w3-margin-top">

    <div class="w3-third">
        <div class="w3-card w3-center">
            <img src="~/Images/awards/smp03.jpg" style="height:300px;">
            <div class="w3-container">
                <h4>Рюкзак (1400 баллов)</h4>
            </div>
        </div>
    </div>

    <div class="w3-third">
        <div class="w3-card w3-center">
            <img src="~/Images/awards/smp04.jpg" style="height:300px;">
            <div class="w3-container">
                <h4>Рюкзак (1600 баллов)</h4>
            </div>
        </div>
    </div>

    <div class="w3-third">
        <div class="w3-card w3-center">
            <img src="~/Images/awards/smp05.jpg" style="height:300px;">
            <div class="w3-container">
                <h4>Рюкзак (1800 баллов)</h4>
            </div>
        </div>
    </div>

</div>
